[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
tensorflow = "*"
numpy = "*"
sklearn = "*"
scikit-learn = "*"
pandas = "*"
scikeras = "*"
keras-tuner = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.11"
